<footer class="footer">
    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.whatsapp.com/"><i class="fa-brands fa-square-whatsapp"></i></a>
    <a href=" https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
    <a href="https://telegram.org/"><i class="fa-brands fa-telegram"></i></a>
    <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i><br /></a>
    &copy;<%= new Date().getFullYear(); %> catsloverblog
</footer>
