<section>
    <br /><br />
    <br /><br />
    <br /><br />

    <h1>About Me</h1>
    <marquee direction="right" scrollamount="7"><img src="/img/dd.png" /></marquee>
    <p class="para">
        Welcome to my blog about pet cats! I'm Divya Devu, and cats have been a significant part of my life for as long as I
        can remember. Their grace, independence, and playful nature have always fascinated me, and I feel incredibly
        fortunate to have had cats as companions while growing up. These experiences have deeply influenced my love and
        understanding of these amazing animals.
    </p>

    <h1>About the Blog</h1>
    <marquee direction="left" scrollamount="7"><img src="/img/ddd.png" /></marquee>
    <p class="para">
        This blog is my heartfelt dedication to all things related to pet cats. Whether you're an experienced cat owner
        seeking new tips and tricks or someone considering adopting a cat for the first time, this blog is for you. My goal
        is to create a warm and welcoming space where cat enthusiasts can discover valuable information, heartwarming
        stories, and practical advice to enrich their bond with their feline friends.
    </p>

    <h1>My Mission</h1>
    <marquee direction="right" scrollamount="7"><img src="/img/dddd.png" /></marquee>
    <p class="para">
        Through this blog, I am sharing valuable knowledge that is related to our lovely cats. I also want to create a good
        community of cat lovers in our world. They are loving animals. If we take good care of them, they will love us too.
        healthy lives. Thank you for joining me on this journey.
    </p>
</section>
