<br /><br /><br /><br />
<table border="1" class="tab">
    <img src="/img/jkj.png" width="210" height="200" />
    <tr>
        <th>Attribute</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Size</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>Body Type</td>
        <td>Strong, lithe body with long, slender legs</td>
    </tr>
    <tr>
        <td>Head Shape</td>
        <td>Round, wedge-shaped head with distinctive small tufts on the tips of ears</td>
    </tr>
    <tr>
        <td>Eyes</td>
        <td>Large, almond-shaped eyes</td>
    </tr>
    <tr>
        <td>Coat</td>
        <td>
            Short, close-lying coat with a distinctive 'ticked' look caused by bands of color on each hair. Comes in several
            colors, with the most well-known being 'ruddy'
        </td>
    </tr>
    <tr>
        <td>Personality</td>
        <td>
            Quiet, intelligent, and curious. Enjoys human company and becomes attached to its family. Enjoys space and
            activity, is a good climber, and appreciates a garden full of trees and high places. Playful but tempered with
            some sense, so not too reckless.
        </td>
    </tr>
    <tr>
        <td>History and Origins</td>
        <td>
            Country of Origin: Abyssinia (Ethiopia) Other Names: Abys, Bunny cat The Abyssinian cat resembles the African
            wildcat, ancestor of the domestic cat. The history of the Abyssinian cat in the UK is a little obscure, but it
            is likely that it was brought back via army personnel from Abyssinia (now Ethiopia), in the 1860s. The early
            Abyssinian cats were crossed with British Shorthairs, and later with oriental breeds. Long-haired Abyssinian
            kittens have been found in litters for many years, and since the 1970s they have been developed as a separate
            breed called the Somali.
        </td>
    </tr>
</table>
