<!DOCTYPE html>
<html>
    <head>
        <title>Balinese Cat Breed</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h1>Balinese Cat Breed</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Medium</td>
            </tr>
            <tr>
                <td>Build</td>
                <td>Fine-boned</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Semi-longhaired, silky, close-fitting, no undercoat</td>
            </tr>
            <tr>
                <td>Coat Texture</td>
                <td>Close-fitting, silky</td>
            </tr>
            <tr>
                <td>Coat Care</td>
                <td>Less risk of matting compared to voluminous fluffy coats</td>
            </tr>
            <tr>
                <td>Resembles</td>
                <td>Siamese</td>
            </tr>
            <tr>
                <td>Distinct Features</td>
                <td>Large ears, wedge-shaped head, long and lithe body</td>
            </tr>
            <tr>
                <td>Modern Type</td>
                <td>More extreme features</td>
            </tr>
            <tr>
                <td>Old Type</td>
                <td>Less extreme features</td>
            </tr>
        </table>
        <br /><br /><br />
        <table border="0">
            <tr>
                <td>Lifespan</td>
                <td>:&nbsp;9 - 15 years</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>:&nbsp;2.3 - 4.5kg</td>
            </tr>
            <tr>
                <td>Colours</td>
                <td>
                    :&nbsp;The Balinese comes in the same colour patterns typical of the Siamese: seal, blue, chocolate and
                    lilac points, and some extra – red, cream, caramel, apricot, solid, tortie and tabby-coloured. All
                    Balinese are ‘colour point’ patterned, in other words the colour is on the mask, ears, legs and tail,
                    and the body is a pale cream to pure white.
                </td>
            </tr>
        </table>
        <br />
        <img src="/img/kll.png" width="220" height="240" />
        <br /><br />
        <h1>Balinese Cat Personality</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Trait</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Playfulness</td>
                <td>Playful and inquisitive</td>
            </tr>
            <tr>
                <td>Intelligence</td>
                <td>Clever and demanding, thrives on attention, fun, and games</td>
            </tr>
            <tr>
                <td>Attention Needs</td>
                <td>May become loud and destructive without sufficient attention</td>
            </tr>
            <tr>
                <td>Maintenance</td>
                <td>
                    Toward the more high-maintenance end of the cat scale, more a specialist cat than a relaxing, quiet
                    companion
                </td>
            </tr>
        </table>
    </body>
</html>
