<!DOCTYPE html>
<html>
    <head>
        <title>Birman Cat Characteristics</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h1>Birman Cat Characteristics</h1>
        <br />
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Semi-long-haired with a silky soft, luxuriant coat</td>
            </tr>
            <tr>
                <td>Coloration</td>
                <td>Pale cream to white body coat with colored points on the face, ears, legs, and tail</td>
            </tr>
            <tr>
                <td>Eye Color</td>
                <td>Beautiful blue eyes</td>
            </tr>
            <tr>
                <td>Feet</td>
                <td>Pure white feet with gloves on the front paws and socks on the back</td>
            </tr>
            <tr>
                <td>Body</td>
                <td>Moderately built, medium to large with a well-muscled body</td>
            </tr>
            <tr>
                <td>Face</td>
                <td>Rounded face</td>
            </tr>
            <tr>
                <td>Ears</td>
                <td>Neat ears</td>
            </tr>
        </table>
        <br />
        <table border="0">
            <br />
            <br />
            <tr>
                <td>Lifespan</td>
                <td>:&nbsp;12 - 16 years</td>
            </tr>

            <tr>
                <td>Weight</td>
                <td>:&nbsp;2.7 - 5.4kg</td>
            </tr>
            <tr>
                <td>Colours</td>
                <td>
                    :&nbsp;Birmans come in 20 different colours including the classic Siamese colours of seal, blue and
                    lilac, and many more.
                </td>
            </tr>
        </table>
        <img src="/img/444.png" width="300" height="290" />
        <br />
        <br />
        <br />
        <h1>Birman Cat Personality</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Trait</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Friendly</td>
                <td>Exceptionally friendly and sociable</td>
            </tr>
            <tr>
                <td>Relaxed</td>
                <td>Laid back and relaxed</td>
            </tr>
            <tr>
                <td>Companionable</td>
                <td>Love to be with people and play</td>
            </tr>
            <tr>
                <td>Hunting Instinct</td>
                <td>Don't have a strong hunting instinct</td>
            </tr>
            <tr>
                <td>Social</td>
                <td>Fairly gregarious, get along well with other cats and dogs if socialized well</td>
            </tr>
            <tr>
                <td>Communication</td>
                <td>Not naturally loud or noisy, but can be quietly chatty</td>
            </tr>
        </table>
    </body>
</html>
