<!DOCTYPE html>
<html>
    <head>
        <title>Bombay Cat Appearance</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h2>Bombay Cat Information</h2>

        <table border="1" class="tab">
            <tr>
                <th>Trait</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Appearance</td>
                <td>Elegant yet strong, resembling a miniature panther</td>
            </tr>
            <tr>
                <td>Temperament</td>
                <td>Curious, active, highly affectionate, loves spending time with owners and social with other people</td>
            </tr>
            <tr>
                <td>Suitability</td>
                <td>Extroverted, suitable for first-time owners</td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <img src="/img/jk33.png" width="350" height="240" />
        <h2>Bombay Cat Appearance</h2>

        <table border="1" class="tab">
            <tr>
                <th>Feature</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Muscular cat of medium build</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Jet-black coat with the gloss and shine of patent leather</td>
            </tr>
            <tr>
                <td>Head</td>
                <td>Rounded head with rounded ears and a broad muzzle</td>
            </tr>
            <tr>
                <td>Eyes</td>
                <td>Most striking feature is their glorious copper/gold eyes, which are round, full, and expressive</td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <h2>Bombay Cat Personality</h2>

        <table border="1" class="tab">
            <tr>
                <td>Trait</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>Personality</td>
                <td>Very personable, if mischievous, inclined to invent new ways to entertain themselves</td>
            </tr>
            <tr>
                <td>Temperament</td>
                <td>Outgoing, intelligent, friendly, gets along well with family, other pets, and friends</td>
            </tr>
        </table>
    </body>
</html>
