<!DOCTYPE html>
<html>
    <head>
        <title>American Bobtail Cat Breed</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h1>American Bobtail Cat Breed</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Medium to Large</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>Male: 12 to 16 pounds, Female: 7 to 11 pounds</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Short, Medium, Long</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>
                    White, black, blue, red, cream, chocolate, lavender, cinnamon, fawn, plus various patterns and shadings
                </td>
            </tr>
        </table>
        <br />
        <br />
        <h1>American Bobtail Cat Temperament and Characteristics</h1>
        <table border="1" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Temperament</td>
                <td>Devoted companion cats, social, easygoing, get along well with children and other pets</td>
            </tr>
            <tr>
                <td>Intelligence</td>
                <td>Highly intelligent, with dog-like personalities</td>
            </tr>
            <tr>
                <td>Playfulness</td>
                <td>Love games like fetch and hide-and-seek, enjoy walking on a leash</td>
            </tr>
            <tr>
                <td>Appearance</td>
                <td>Resemble bobtailed wildcats, markings, alert, hunter's gaze, short, expressive tail</td>
            </tr>
        </table>
        <br />
        <br />
        <h1>American Bobtail Cat Breed Information</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Lifespan</td>
                <td>13 to 15 years</td>
            </tr>
            <tr>
                <td>Colors</td>
                <td>
                    Coat can come in any pattern, including black, brown, chocolate, cinnamon, blue, lilac, fawn, red, and
                    cream, with or without white
                </td>
            </tr>
            <tr>
                <td>Shedding</td>
                <td>Moderate shedding breed; coat requires brushing only a couple of times a week to remove loose hair</td>
            </tr>
            <tr>
                <td>Health</td>
                <td>
                    Very strong and healthy breed, little known about genetic predisposition to health problems; may develop
                    hip dysplasia, and tailless American Bobtails can have spinal problems affecting their ability to
                    control defecation
                </td>
            </tr>
        </table>
    </body>
</html>
