<!DOCTYPE html>
<html>
    <head>
        <title>Burmilla Cat Breed</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h1>Burmilla Cat Breed</h1>
        <br />
        <table border="1" cellspacing="0" cellpadding="5" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Build</td>
                <td>
                    Medium build, similar to Burmese cats; sturdy, well-muscled body with a strong straight back; females
                    are smaller and daintier than males
                </td>
            </tr>
            <tr>
                <td>Head</td>
                <td>Gently rounded dome, wedge-shaped muzzle, wide-set ears</td>
            </tr>
            <tr>
                <td>Eyes</td>
                <td>Expressive eyes may be any color from gold through to green</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>
                    Short and close-lying with a pale undercoat and even 'tipping' (darker color at the tip of the hairs)
                    over the rest of the body; distinct 'M' marking on the forehead
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <h1>Burmilla Cat Breed - Personality</h1>
        <br />

        <table border="1" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Health</td>
                <td>
                    There are no specific conditions relating to Asians in the veterinary literature; however, there may be
                    a tendency for this group to develop conditions associated with the Burmese; some lines of this breed
                    appear to be more susceptible to diabetes mellitus than other breeds
                </td>
            </tr>
        </table>
        <br />
        <img src="/img/df.jpg" width="200" height="240" />
        <br />
        <br />

        <h1>Burmilla Cat Breed - History and Origins</h1>
        <table border="1" cellspacing="0" cellpadding="5" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Country of Origin</td>
                <td>Britain</td>
            </tr>
            <tr>
                <td>Origins</td>
                <td>
                    Created in 1981 by an accidental mating between a male Chinchilla cat and a lilac female Burmese cat;
                    kittens looked and behaved like Burmese cats but had the silver coloring and tipped markings of the
                    Chinchilla cat breed; pair was allowed to mate again, leading to the formation of a new breed
                </td>
            </tr>
        </table>
    </body>
</html>
