<br />
<br />
<h2>Burmese Cat Breed</h2>
<img src="/img/sss.png" width="300px" height="270px" />

<table border="1" class="tab">
    <tr>
        <th>Characteristic</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Personality</td>
        <td>Friendly, social, highly clever; easily meshes into most families</td>
    </tr>
    <tr>
        <td>Appearance</td>
        <td>
            Glossy and athletic; solid, muscular body; sweet expression; neat round paws; short coat; large and round eyes;
            face has a hint of the exotic Asian breeds, but is unexaggerated and attractive
        </td>
    </tr>
    <tr>
        <td>Personality</td>
        <td>
            Curious, clever, and friendly; described as having a sweet expression in the breed standard; playful and
            engaging, will learn to retrieve toys; curious and inquisitive nature, may explore every open doorway;
            personable and sociable with family and visitors, enjoys attention and will let you know if there isn’t
            sufficient attention paid to them
        </td>
    </tr>
</table>
