<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Colorpoint Shorthair Breed</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h2>Colorpoint Shorthair Breed</h2>
        <p class="para">
            Colorpoint Shorthair cats are a distinctive and affectionate breed known for their elegant appearance. They have
            a sleek, slender body, large almond-shaped eyes, and a short, fine coat that can be found in a variety of
            colors. What makes them unique is their colorpoint pattern, which features a pale body with darker points on the
            ears, face, paws, and tail.
        </p>
        &nbsp; <img src="/img/knn.png" width="200" height="240" />
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Appearance</td>
                <td>
                    <ul>
                        <li>Sleek and slender body</li>
                        <li>Large, almond-shaped blue eyes</li>
                        <li>Short, fine, and silky coat</li>
                        <li>Colorpoint pattern with pale body and darker points</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Personality</td>
                <td>
                    <ul>
                        <li>Social and outgoing</li>
                        <li>Affectionate and bonds strongly with owners</li>
                        <li>Playful and energetic</li>
                        <li>Vocal, often meowing and chirping</li>
                        <li>Intelligent and trainable</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Care</td>
                <td>
                    <ul>
                        <li>Minimal grooming required</li>
                        <li>Regular veterinary check-ups recommended</li>
                        <li>Balanced diet and regular exercise important</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>History</td>
                <td>
                    <ul>
                        <li>Developed in the United States in the 1940s and 1950s</li>
                        <li>Crossbreeding of Siamese and American Shorthair cats</li>
                        <li>
                            Goal was to combine elegant body of Siamese with wide range of colors and patterns of American
                            Shorthair
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </body>
</html>
