<br />
<br /><br /><br />
<h1>American Curl Cat Breed Features</h1>
<br />
<table border="1" class="tab">
    <tr>
        <th>Attribute</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Size</td>
        <td>Small to Medium</td>
    </tr>
    <tr>
        <td>Weight</td>
        <td>Male: 7 to 10 pounds, Female: 5 to 8 pounds</td>
    </tr>
    <tr>
        <td>Coat</td>
        <td>Short, Semi-long</td>
    </tr>
    <tr>
        <td>Color</td>
        <td>White, black, blue, red, cream, chocolate, lilac, silver, golden, plus various patterns and shadings</td>
    </tr>
</table>
<br />
<img src="/img/cv.jpg" width="300px" height="270px" />
<br />
<h1>Characteristics</h1>
<br />
<table border="1" class="tab">
    <tr>
        <th>Attribute</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Size</td>
        <td>Small to Medium</td>
    </tr>
    <tr>
        <td>Weight</td>
        <td>Male: 7 to 10 pounds, Female: 5 to 8 pounds</td>
    </tr>
    <tr>
        <td>Coat</td>
        <td>Short, Semi-long</td>
    </tr>
    <tr>
        <td>Color</td>
        <td>White, black, blue, red, cream, chocolate, lilac, silver, golden, plus various patterns and shadings</td>
    </tr>
    <tr>
        <td>Temperament</td>
        <td>
            A friendly, people-oriented breed, American Curls are known as the Peter Pan of cats because they retain their
            kitten-like personality throughout life. With her outstanding temperament, the Curl makes an affectionate
            soulmate and easily adjusts to other pets and children.
        </td>
    </tr>
    <tr>
        <td>Characteristics</td>
        <td>
            The American Curl has distinctive curled ears that form a graceful arc, giving her an alert, perky expression.
            In addition to their ears, Curls are known for their silky, flat coat which can be long or short.
        </td>
    </tr>
    <tr>
        <td>Lifespan</td>
        <td>13+ years</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>
            The American Curl has two coat varieties: shorthair and longhair. Both coats are low-shedding. Like other
            shorthaired breeds, shorthair Curls need only weekly brushing, while longhair Curls should be brushed twice a
            week to help reduce matting and tangles.
        </td>
    </tr>
    <tr>
        <td>Health</td>
        <td>
            Due to a large gene pool, the American Curl is a generally healthy breed with no common genetic health issues.
            However, her ears should be checked and cleaned often to prevent infection.
        </td>
    </tr>
</table>
<br />
<br />
<br />
<table border="1" class="tab">
    <tr>
        <th>Attribute</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Size</td>
        <td>Small to Medium</td>
    </tr>
    <tr>
        <td>Weight</td>
        <td>Male: 7 to 10 pounds, Female: 5 to 8 pounds</td>
    </tr>
    <tr>
        <td>Coat</td>
        <td>Short, Semi-long</td>
    </tr>
    <tr>
        <td>Color</td>
        <td>White, black, blue, red, cream, chocolate, lilac, silver, golden, plus various patterns and shadings</td>
    </tr>
    <tr>
        <td>Temperament</td>
        <td>
            A friendly, people-oriented breed, American Curls are known as the Peter Pan of cats because they retain their
            kitten-like personality throughout life. With her outstanding temperament, the Curl makes an affectionate
            soulmate and easily adjusts to other pets and children.
        </td>
    </tr>
    <tr>
        <td>Characteristics</td>
        <td>
            The American Curl has distinctive curled ears that form a graceful arc, giving her an alert, perky expression.
            In addition to their ears, Curls are known for their silky, flat coat which can be long or short.
        </td>
    </tr>
    <tr>
        <td>Lifespan</td>
        <td>13+ years</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>
            The American Curl has two coat varieties: shorthair and longhair. Both coats are low-shedding. Like other
            shorthaired breeds, shorthair Curls need only weekly brushing, while longhair Curls should be brushed twice a
            week to help reduce matting and tangles.
        </td>
    </tr>
    <tr>
        <td>Health</td>
        <td>
            Due to a large gene pool, the American Curl is a generally healthy breed with no common genetic health issues.
            However, her ears should be checked and cleaned often to prevent infection.
        </td>
    </tr>
    <tr>
        <td>History</td>
        <td>
            The American Curl is a pedigree breed with humble beginnings—specifically a stray, longhaired black female cat
            with curled ears who showed up (and decided to stay) at the Lakewood, California home of Joe and Grace Ruga in
            1981. Shulamith, as she was named, is the original American Curl to which all pedigreed Curls can be traced.
            When she gave birth to curl-eared kittens about six months later, the debate about the genetic origins of the
            “novelty” ears began, followed by a selective breeding program to develop a show breed. Renowned feline
            geneticist Roy Robinson analyzed data from 81 litters (383 kittens), and found that the ear-curling gene is
            autosomal dominant, so a cat with even one copy of the gene will show the trait.
        </td>
    </tr>
</table>
