<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Norwegian Forest Cat Breed</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h2>Norwegian Forest Cat Breed</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Larger than average cat</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>
                    Semi-longhair, longer in winter and shorter in summer; smooth, glossy outer coat with a woolly undercoat
                </td>
            </tr>
            <tr>
                <td>Body</td>
                <td>Long, muscular, strongly built; long legs and bushy tail</td>
            </tr>
            <tr>
                <td>Head</td>
                <td>Long, triangular; straight profile; high-set ears with tufted tips</td>
            </tr>
            <tr>
                <td>Coat Markings</td>
                <td>
                    Any color except chocolate, lilac, or Siamese pattern; may have white markings on paws, chest, belly, or
                    face
                </td>
            </tr>
            <tr>
                <td>Coat Texture</td>
                <td>
                    Water-repellent; full coat includes ruff, shirtfront, knickerbockers, and tufts of hair between toes
                </td>
            </tr>
        </table>
        <br /><br />
        <img src="/img/ff.png" width="300" height="360" /><br />
        <br />
        <h2>Norwegian Forest Cat Breed Personality</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Personality</td>
                <td>
                    Love people and thrive on human company; can be demanding of affection but also appear independent; used
                    to an outdoor life and well adapted to roam and hunt outside; excellent climbers; extremely friendly and
                    playful; slow in developing and may not be mature until four years of age
                </td>
            </tr>
        </table>
        <br /><br />
        <h2>Norwegian Forest Cat Breed History</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Country of Origin</td>
                <td>Scandinavia</td>
            </tr>
            <tr>
                <td>History and Origins</td>
                <td>
                    Believed to originate from shorthair cats brought by Vikings from Great Britain and longhair cats
                    brought by Crusaders to Scandinavia, which then mated with local farm and feral cats; well adapted to
                    cold winters and rugged; hardy; double coat keeps out wind and snow and is quick drying; first
                    recognized in Norway in 1930 and first appeared at cat shows in 1938; exported from Norway in the 1970s
                </td>
            </tr>
        </table>
    </body>
</html>
