<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Japanese Bobtail (Short Hair)</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h2>Japanese Bobtail (Short Hair)</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Build</td>
                <td>Average</td>
            </tr>
            <tr>
                <td>Head</td>
                <td>Finely chiselled</td>
            </tr>
            <tr>
                <td>Ears</td>
                <td>Strong, upright</td>
            </tr>
            <tr>
                <td>Eyes</td>
                <td>Large, inquisitive</td>
            </tr>
            <tr>
                <td>Tail</td>
                <td>Short-curled, resembling a pom-pom</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Soft, silky without undercoat, sheds little</td>
            </tr>
        </table>
        <br />
        <br />
        <img src="/img/jo1.png" width="250" height="170" />
        <br />
        <h2>Japanese Bobtail (Short Hair)</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Build</td>
                <td>Average</td>
            </tr>
            <tr>
                <td>Head</td>
                <td>Finely chiselled</td>
            </tr>
            <tr>
                <td>Ears</td>
                <td>Strong, upright</td>
            </tr>
            <tr>
                <td>Eyes</td>
                <td>Large, inquisitive</td>
            </tr>
            <tr>
                <td>Tail</td>
                <td>Short-curled, resembling a pom-pom</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Soft, silky without undercoat, sheds little</td>
            </tr>
            <tr>
                <td>Personality</td>
                <td>
                    Playful, fun, curious, bold, engaging. Loves fuss and cuddles, likes to climb and play. Lean and
                    athletically built. Wants to be around people, gregarious and friendly with other cats, can be
                    introduced to other pets carefully.
                </td>
            </tr>
        </table>
    </body>
</html>
