<!DOCTYPE html>
<html>
    <head>
        <title>Maine Coon Cat</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h1>Maine Coon Cat</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Massive with a powerful muscular athletic body</td>
            </tr>
            <tr>
                <td>Ears</td>
                <td>Large, pointed, held wide and tall</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Long, thick, with a substantial glossy, waterproof top coat</td>
            </tr>
            <tr>
                <td>Tufts</td>
                <td>Attractive tufts on ears and paws</td>
            </tr>
            <tr>
                <td>Tail</td>
                <td>Spectacular, at least as long as their body</td>
            </tr>
        </table>
        <br />
        <br />
        <table border="0">
            <tr>
                <td>Lifespan</td>
                <td>:&nbsp;&nbsp;9 - 15 years</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>:&nbsp;&nbsp;4.8 - 8.2kg</td>
            </tr>
            <tr>
                <td>Colours</td>
                <td>
                    :&nbsp;&nbsp;The Maine Coon cat breed has a variety of 64 different colours and markings. Their eyes
                    maybe green, gold or copper - in white cats it is possible to have blue or odd eyes.
                </td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>:&nbsp;&nbsp;Long, thick, with a substantial glossy, waterproof top coat</td>
            </tr>
        </table>
        <br />
        <img src="/img/ggf.png" width="200" height="170" /><br />
        <br />
        <h1>Maine Coon Cat Personality</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Trait</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Affectionate</td>
                <td>Known for their affectionate nature</td>
            </tr>
            <tr>
                <td>Playful</td>
                <td>Very playful and friendly</td>
            </tr>
            <tr>
                <td>Companionable</td>
                <td>Enjoy human company and make excellent companions</td>
            </tr>
            <tr>
                <td>Chirping</td>
                <td>Noted for the delightful quiet chirping sound they make</td>
            </tr>
        </table>
    </body>
</html>
