<!DOCTYPE html>
<html>
    <head>
        <title>Manx Cat Breed</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h1>Manx Cat Breed</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Medium to large, with males weighing from 9 to 13 pounds and females weighing from 7 to 11 pounds</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Longhair - medium, dense, soft, silky; shorthair - short, dense, glossy</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>White, black, blue, red, cream, and silver, plus various patterns and shadings</td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <h1>Manx Cat Temperament and Characteristics</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Temperament</td>
                <td>
                    Adaptable, enjoys meeting new people, smart enough to learn tricks like fetch and walking on a leash,
                    enjoys riding in cars, likes to play with water, can learn to open doors and turn on faucets, needs lots
                    of attention and doesn't like to be left alone for long periods
                </td>
            </tr>
            <tr>
                <td>Characteristics</td>
                <td>
                    Known for lack of tail, but not all Manx are tailless; some have normal-length tails ("longies") while
                    others have nubs or stumps ("stumpies"); tailless Manx are called "rumpies" and a rumpy with a rise of
                    bone at the end of her spine is called a "riser"; round overall body shape with a round head, large
                    round eyes, stout body, broad chest, and round rear; front legs are much shorter than hind legs, so rear
                    sits higher than shoulders; can have short or long coats, with longhaired Manx called Cymric in some cat
                    associations
                </td>
            </tr>
        </table>
        <br />
        <br />
        <h1>Manx Cat Health</h1>
        <table border="1" class="tab">
            <tr>
                <th>Condition</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Arthritis in the tailbone of "stumpies"</td>
                <td>Stumpies (Manx cats with short tails) may develop arthritis in the tailbone area</td>
            </tr>
            <tr>
                <td>Corneal dystrophy</td>
                <td>Develops at approximately 4 months of age, affecting the cornea of the eye</td>
            </tr>
            <tr>
                <td>Manx syndrome</td>
                <td>
                    A collection of defects including a short spine, urinary tract problems, and difficulties with bowels
                    and digestion; affects approximately 20 percent of Manx and appears by 4 months of age
                </td>
            </tr>
            <tr>
                <td>Sensitivity in tail area</td>
                <td>
                    Despite the lack of tail in rumpies, risers, and stumpies, there are still nerve endings there, making
                    the area extremely sensitive
                </td>
            </tr>
        </table>
        <br />
        <br />
        <h1>Manx Cat Colors and Shedding</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Colors</td>
                <td>
                    Come in a vast range of colors and patterns, from solids to tabbies to calicos; pointed pattern (as seen
                    in the Siamese), chocolate, and lavender colors are not permitted
                </td>
            </tr>
            <tr>
                <td>Shedding</td>
                <td>
                    Shed, particularly during the spring and fall; brush their double coat regularly to remove loose hair
                </td>
            </tr>
        </table>
    </body>
</html>
