<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Australian Mist Cat Breed</title>
    </head>
    <body>
      <br>
      <br>
      <br>
        <h2>Australian Mist Cat Breed</h2>
      <br>
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Medium</td>
            </tr>
            <tr>
                <td>Head</td>
                <td>Round</td>
            </tr>
            <tr>
                <td>Eyes</td>
                <td>Large, expressive, green</td>
            </tr>
            <tr>
                <td>Body</td>
                <td>Well balanced, moderate</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Short, dense, glossy</td>
            </tr>
            <tr>
                <td>Coat Patterns</td>
                <td>Soft, somewhat blurred into background colour</td>
            </tr>
            <tr>
                <td>Personality</td>
                <td>Pretty, very friendly, moderate</td>
            </tr>
        </table>
<br>

<h2>Australian Mist Cat Breed</h2>
<img src="/img/as.jpg" width="250" height="240" />

<br>
<table  border="1" class="tab">
  <tr>
    <th>Characteristic</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Size</td>
    <td>Medium</td>
  </tr>
  <tr>
    <td>Head</td>
    <td>Round</td>
  </tr>
  <tr>
    <td>Eyes</td>
    <td>Large, expressive, green</td>
  </tr>
  <tr>
    <td>Body</td>
    <td>Well balanced, moderate</td>
  </tr>
  <tr>
    <td>Coat</td>
    <td>Short, dense, glossy</td>
  </tr>
  <tr>
    <td>Coat Patterns</td>
    <td>Soft, somewhat blurred into background colour</td>
  </tr>
  <tr>
    <td>Personality</td>
    <td>Affectionate, happy, easily fitting in to become a member of the family</td>
  </tr>
</table>

</body>
</html>

    </body>
</html>
