<br /><br /><br />
<h1>Munchkin Features</h1>
<br />
<table border="1" class="tab">
    <tr>
        <th>Attribute</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Size</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>Body Type</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Head Shape</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Coat</td>
        <td>Thick, plush; comes in all colors and patterns, including a long-haired variety</td>
    </tr>
    <tr>
        <td>Leg Length</td>
        <td>Very short legs due to a genetic mutation, giving the cat a long, low appearance</td>
    </tr>
</table>
<br /><br />
<table border="0">
    <tr>
        <th>Lifespan</th>
        <th>12 - 15 years</th>
    </tr>
    <tr>
        <td>Weight</td>
        <td>2.3 - 4kg</td>
    </tr>
    <tr>
        <td>Colors</td>
        <td>Munchkin cats come in multiple colours and patterns</td>
    </tr>
    </table>
    <br />
    <br />
    <img src="/img/mun.png" width="300px" height="200px" />
    <br />
    <br />

    <h1>Personality</h1>
    <br />
    <table border="1" class="tab">
        <tr>
            <th>Attribute</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Size</td>
            <td>Medium</td>
        </tr>
        <tr>
            <td>Body Type</td>
            <td>Moderate</td>
        </tr>
        <tr>
            <td>Head Shape</td>
            <td>Moderate</td>
        </tr>
        <tr>
            <td>Coat</td>
            <td>Thick, plush; comes in all colors and patterns, including a long-haired variety</td>
        </tr>
        <tr>
            <td>Leg Length</td>
            <td>Very short legs due to a genetic mutation, giving the cat a long, low appearance</td>
        </tr>
        <tr>
            <td>Personality</td>
            <td>
                Curious, intelligent, friendly, and playful. They may find it hard to jump but can do so. They move
                differently from standard-legged cats, with a wrigglier, rolling motion. The Munchkin is much like any
                domestic cat, possibly more inclined to enjoy handling and lap-time than some, but equally keen to exercise
                their feline hunting behavior by chasing and hunting toys if given the opportunity.
            </td>
        </tr>
    </table>
</table>
