<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ocicat Cat Breed</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h2>Ocicat Breed</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Medium to large</td>
            </tr>
            <tr>
                <td>Build</td>
                <td>Well-muscled athletic build, strong dense bone structure</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>Surprisingly heavy for their size</td>
            </tr>
            <tr>
                <td>Appearance</td>
                <td>
                    Spotted all over, distinct bullseye pattern on the sides, clear M shape between the ears above the eyes
                </td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Short and close-lying with a satiny sheen</td>
            </tr>
        </table>
        <br />
        <br />
        <img src="/img/oc.png" width="200" height="170" /><br /><br />
        <h2>Ocicat Personality</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Personality</td>
                <td>
                    Highly intelligent, active, social, and people-oriented. Described as having dog-like tendencies. They
                    love interacting with family members and visitors, following people around the home, and supervising
                    activities. They are incredibly athletic, can jump to high spots, balance on narrow ledges, and explore
                    places other cats might not. They enjoy attention and are adept at demanding it when they feel it is
                    necessary.
                </td>
            </tr>
        </table>
    </body>
</html>
