<!DOCTYPE html>
<html>
    <head>
        <title>Persian Cat Information</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h2>Persian Cat Information</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Trait</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Appearance</td>
                <td>Grumpy-looking face, but sweet and easy-going personality</td>
            </tr>
            <tr>
                <td>Temperament</td>
                <td>Loving and charming, gets along with the entire family if introduced as kittens</td>
            </tr>
            <tr>
                <td>Care Needs</td>
                <td>Requires extra attention due to their beauty</td>
            </tr>
        </table>
        <br />
        <br />
        <table border="0">
            <tr>
                <td>Lifespan</td>
                <td>:&nbsp;10 - 12 years</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>:&nbsp;3.2 - 5.4kg</td>
            </tr>
            <tr>
                <td>Colours</td>
                <td>
                    :&nbsp;There are six separate colours, black, blue, cream, cameo (red), smoke tortoiseshell and
                    blue-cream smoke.
                </td>
            </tr>
        </table>

        <img src="/img/fdd.png" width="350" height="240" />
        <h2>Persian Cat Appearance</h2>

        <table border="1" class="tab">
            <tr>
                <th>Feature</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Medium-sized, stockily built</td>
            </tr>
            <tr>
                <td>Head</td>
                <td>Round, broad head, large in proportion to body, with large round eyes and short muzzle</td>
            </tr>
            <tr>
                <td>Ears</td>
                <td>Small and set wide, accentuating the size and roundness of the face</td>
            </tr>
            <tr>
                <td>Body</td>
                <td>Compact body, short sturdy legs, large round paws, short bushy tail</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Long, extremely thick and luxuriant, with a soft, dense undercoat</td>
            </tr>
        </table>
        <br />
        <br />
        <h2>Persian Cat Personality</h2>

        <table border="1" class="tab">
            <tr>
                <th>Trait</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Temperament</td>
                <td>Sweet and gentle, appreciates a peaceful home</td>
            </tr>
            <tr>
                <td>Vocalization</td>
                <td>Quiet cat, with a pleasant and melodious voice</td>
            </tr>
            <tr>
                <td>Expressiveness</td>
                <td>Large eyes make them expressive, able to convey emotions</td>
            </tr>
            <tr>
                <td>Activity Level</td>
                <td>Not inclined to climb and jump, enjoys sunny spots and draping themselves across furniture</td>
            </tr>
        </table>
    </body>
</html>
