<!DOCTYPE html>
<html>
    <head>
        <title>RagaMuffin Cat Characteristics</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h1>RagaMuffin Cat Characteristics</h1>
        <br />
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Large and muscular</td>
            </tr>
            <tr>
                <td>Build</td>
                <td>Rectangular with a broad chest</td>
            </tr>
            <tr>
                <td>Expression</td>
                <td>Sweet expression with large walnut-shaped eyes</td>
            </tr>
            <tr>
                <td>Ears</td>
                <td>Moderate in size, tufted</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Semi-long, luxurious, silky soft</td>
            </tr>
            <tr>
                <td>Features</td>
                <td>Ruff around the neck, plumed tail, tufts between the toes</td>
            </tr>
        </table>
        <br />
        <br />

        <table border="0">
            <tr>
                <td>Lifespan</td>
                <td>:&nbsp;12 – 17 years</td>
            </tr>
            <tr>
                <td>Size</td>
                <td>:&nbsp;Large and muscular</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>:&nbsp;3.5 – 9kg</td>
            </tr>
            <tr>
                <td>Colours</td>
                <td>:&nbsp;All colours, patterns and markings.</td>
            </tr>
        </table>

        <img src="/img/55.png" width="300" height="240" />
        <h1>RagaMuffin Cat Personality</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Trait</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Affectionate</td>
                <td>Super affectionate and friendly</td>
            </tr>
            <tr>
                <td>Relaxed</td>
                <td>Tendency to go limp and relaxed when carried or held</td>
            </tr>
            <tr>
                <td>Social</td>
                <td>Adores contact, lap time, and cuddling with humans</td>
            </tr>
            <tr>
                <td>Adaptability</td>
                <td>Gets on well with other pets and visitors, travels well, and can be walked on a lead</td>
            </tr>
            <tr>
                <td>Extended Kittenhood</td>
                <td>Does not fully mature until 4 years old, leading to more play, energy, and fluffiness</td>
            </tr>
            <tr>
                <td>Playful</td>
                <td>Gets on well with animals and children, playful and amusing, clever at solving puzzles</td>
            </tr>
            <tr>
                <td>Laziness</td>
                <td>Has a tendency towards laziness if not encouraged to move in later life</td>
            </tr>
            <tr>
                <td>Intelligent</td>
                <td>Intelligent and patient, can play fetch and be taught tricks</td>
            </tr>
        </table>
    </body>
</html>
