<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h2>Ragdoll Cat Information</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Attribute</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Temperament</td>
                <td>Docile and sweet, friendly, laid-back</td>
            </tr>
            <tr>
                <td>Suitability</td>
                <td>Popular with families and individuals</td>
            </tr>
            <tr>
                <td>Interaction</td>
                <td>Loves to spend time playing with owners, assumes role of best buddy</td>
            </tr>
        </table>
        <br />
        <br />
        <table border="0">
            <tr>
                <td>Lifespan</td>
                <td>:&nbsp;12 – 17 years</td>
            </tr>
            <tr>
                <td>Size</td>
                <td>:&nbsp;Large and muscular</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>:&nbsp;4.5 - 9kg</td>
            </tr>
            <tr>
                <td>Colours</td>
                <td>
                    :&nbsp;Ragdolls come in three different coat patterns and each pattern comes in four different colours.
                    .
                </td>
            </tr>
        </table>
        <img src="/img/rr.jpg" width="350" height="240" />
        <br />
        <br />
        <h2>Ragdoll Cat Appearance</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Feature</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Large</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Silky, dense, semi-long to long haired</td>
            </tr>
            <tr>
                <td>Body</td>
                <td>Long, muscular, broad chest, short neck, sturdy legs</td>
            </tr>
            <tr>
                <td>Tail</td>
                <td>Long and bushy</td>
            </tr>
            <tr>
                <td>Coat Characteristics</td>
                <td>Fluffy trousers on hind-legs, majestic ruff around neck and throat in adult cats</td>
            </tr>
        </table>
        <br />
        <br />
        <h2>Ragdoll Cat Personality</h2>
        <br />

        <table border="1" class="tab">
            <tr>
                <th>Trait</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Temperament</td>
                <td>Astonishingly equable, relaxed, affectionate</td>
            </tr>
            <tr>
                <td>Ownership</td>
                <td>Owners often have more than one due to their irresistible nature</td>
            </tr>
            <tr>
                <td>Curiosity</td>
                <td>
                    Curious and inclined to assist in day-to-day activities, but prefers sitting on books or watching from a
                    sunny spot
                </td>
            </tr>
            <tr>
                <td>Activity Level</td>
                <td>Not too strenuous, prefers watching over participating in strenuous activities</td>
            </tr>
            <tr>
                <td>Myth Debunked</td>
                <td>
                    Not excessively floppy, has the same pain threshold as all cats, does not tolerate being treated as toys
                    by children or anyone else
                </td>
            </tr>
        </table>
    </body>
</html>
