<br /><br /><br />
<h2>Scottish Fold Cat Breed</h2>
<br />
<table border="1" class="tab">
    <tr>
        <th>Characteristic</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Ear Shape</td>
        <td>Small and tightly folded forward to cover the ear opening; tips are rounded</td>
    </tr>
    <tr>
        <td>Size</td>
        <td>Medium size with a solid compact body</td>
    </tr>
    <tr>
        <td>Head</td>
        <td>Rounded, with well-defined whisker pads, set on a short neck</td>
    </tr>
    <tr>
        <td>Eyes</td>
        <td>Large and wide open with a sweet expression</td>
    </tr>
    <tr>
        <td>Coat</td>
        <td>Short and dense, comes in a variety of colours and patterns</td>
    </tr>
</table>
<br />
<br />
<h2>Scottish Fold Cat Breed Personality</h2>
<br />
<table border="1" class="tab">
    <tr>
        <th>Characteristic</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Personality</td>
        <td>
            Sweet, gentle temperament despite strange appearance; not an active breed, possibly due to pain involved in
            movement
        </td>
    </tr>
</table>
