<!DOCTYPE html>
<html>
    <head>
        <title>Siamese Cat Appearance</title>
    </head>
    <body>
        <br />
        <br />
        <h1>Siamese Cat Characteristics</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Appearance</td>
                <td>Long and lithe, elegant and graceful</td>
            </tr>
            <tr>
                <td>Recognition</td>
                <td>Recognizable even by those unfamiliar with cats</td>
            </tr>
            <tr>
                <td>Personality</td>
                <td>Affectionate, social, curious, and energetic</td>
            </tr>
            <tr>
                <td>Adaptability</td>
                <td>Can easily adapt to family life</td>
            </tr>
            <tr>
                <td>Entertainment</td>
                <td>Requires entertainment like games of fetch or long walks</td>
            </tr>
        </table>
        <br />
        <br />

        <table>
            <tr>
                <th>Lifespan</th>
                <th>8 - 15 years</th>
            </tr>
            <tr>
                <td>Weight</td>
                <td>5 - 6.5kg</td>
            </tr>
            <tr>
                <td>Colours</td>
                <td>
                    Siamese cats come in a wide range of colours, all featuring a pale body and shaded points. The eye
                    colour on all coat colours is a bright, intense blue.
                </td>
            </tr>
        </table>

        <img src="/img/kkw.png" />
        <h1>Siamese Cat Appearance</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Body</td>
                <td>Long and athletic</td>
            </tr>
            <tr>
                <td>Legs</td>
                <td>Slender and tall</td>
            </tr>
            <tr>
                <td>Paws</td>
                <td>Neat oval shape</td>
            </tr>
            <tr>
                <td>Ears</td>
                <td>Large and pricked</td>
            </tr>
            <tr>
                <td>Head</td>
                <td>Triangular shape</td>
            </tr>
            <tr>
                <td>Eyes</td>
                <td>Almond-shaped, slant inwards towards the nose</td>
            </tr>
            <tr>
                <td>Tail</td>
                <td>Long, tapering, and straight</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Short and fine, lies close to the body</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>Pale with darker shaded points (face, ears, legs, tail)</td>
            </tr>
        </table>
        <br />
        <br />
        <h1>Siamese Cat Personality</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Trait</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Intelligence</td>
                <td>Incredibly intelligent</td>
            </tr>
            <tr>
                <td>Affectionate</td>
                <td>Very affectionate</td>
            </tr>
            <tr>
                <td>Opinionated</td>
                <td>Can be opinionated</td>
            </tr>
            <tr>
                <td>Bonding</td>
                <td>Tends to bond strongly to one person</td>
            </tr>
            <tr>
                <td>Vocalization</td>
                <td>Very vocal with a loud, low-pitched voice (known as a 'meezer')</td>
            </tr>
            <tr>
                <td>Dependent</td>
                <td>Rather dependent nature</td>
            </tr>
            <tr>
                <td>Separation Anxiety</td>
                <td>May suffer from separation anxiety</td>
            </tr>
        </table>
    </body>
</html>
