<!DOCTYPE html>
<html>
    <head>
        <title>Siberian Forest Cat Information</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h2>Siberian Forest Cat Information</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Trait</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Temperament</td>
                <td>Affectionate and loyal, gets along well with everybody, including kids and other pets</td>
            </tr>
            <tr>
                <td>Appearance</td>
                <td>Stunning looks</td>
            </tr>
            <tr>
                <td>Cuddling</td>
                <td>Adores cuddling, sweet-natured personality</td>
            </tr>
        </table>
        <br />
        <br />

        <table>
            <tr>
                <td>Lifespan</td>
                <td>:&nbsp;11 - 18 years</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>:&nbsp;3.5 - 7.5kg</td>
            </tr>
            <tr>
                <td>Colours</td>
                <td>:&nbsp;Wide variety of colours including the pointed shades, and may have bold white markings. .</td>
            </tr>
        </table>
        <img src="/img/fdd.png" width="350" height="240" />
        <br />
        <br />
        <br />
        <h2>Siberian Forest Cat Appearance</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Feature</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Large, powerful, curvy</td>
            </tr>
            <tr>
                <td>Body</td>
                <td>Broad barrel rib cage, strong limbs and paws</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Very thick semi-longhair coat, thickens and grows longer in winter, reduces somewhat in summer</td>
            </tr>
            <tr>
                <td>Ruff and Mane</td>
                <td>Develops a thick ruff and mane particularly in colder months</td>
            </tr>
            <tr>
                <td>Tail</td>
                <td>Magnificent in size and thickness</td>
            </tr>
        </table>
    </body>
</html>
