<!DOCTYPE html>
<html>
    <head>
        <title>Somali Cat Breed</title>
    </head>
    <body>
        <br />
        <br />

        <h1>Somali Cat Breed</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Appearance</td>
                <td>
                    Lean, wild-looking cat closely related to the Abyssinian; lithe and long with a muscular build, moderate
                    wedge-shaped head, large almond-shaped eyes; paws are neat ovals with some tufting between the toes;
                    long tail with a generous plume of fur; semi-long-haired with fur lying shorter and closer on the body
                    and longer around the neck, legs, and tail; fur is agouti, giving a shaded appearance; eyes are gold,
                    amber, or green with dark pigment around them, giving the impression of eyeliner, surrounded by a
                    lighter cream or almost white
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <table>
            <tr>
                <td>Lifespan</td>
                <td>:&nbsp;11 - 16 years</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>:&nbsp;2.5 - 4.5kg</td>
            </tr>
            <tr>
                <td>Colours</td>
                <td>
                    :&nbsp; Somalis come in a range of reddish browns, blue, lilac and fawn and a silver variation on these
                    colours where the undercoat and base of the hairs is white rather than cream.
                </td>
            </tr>
        </table>
        <img src="/img/ss.jpeg" width="370" height="200" />
        <br />
        <br />
        <br />
        <h1>Somali Cat Personality</h1>
        <br />
        <table border="1" class="tab">
            <tr>
                <td>Trait</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>Activity Level</td>
                <td>
                    High; involved in everything, brilliant at climbing, jumping, very demanding of owners' time and
                    affection
                </td>
            </tr>
            <tr>
                <td>Personality</td>
                <td>
                    Loud, insistent, curious, intelligent; will not be ignored; not a decorative lap-cat but more like a
                    furry toddler in a cat-suit, with climbing and jumping abilities
                </td>
            </tr>
        </table>
    </body>
</html>
