<!DOCTYPE html>
<html>
    <head>
        <title>Sphynx Cat Description</title>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h1>Sphynx Cat Description</h1>
        <br />
        <table border="1" border="1" class="tab">
            <tr>
                <th>Feature</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Fur</td>
                <td>Not entirely hairless, covered with fine, downy hair resembling peach skin</td>
            </tr>
            <tr>
                <td>Whiskers</td>
                <td>Absent</td>
            </tr>
            <tr>
                <td>Eyelashes</td>
                <td>Absent</td>
            </tr>
            <tr>
                <td>Head</td>
                <td>Resembles that of a Devon Rex</td>
            </tr>
            <tr>
                <td>Eyes</td>
                <td>Deep-set, lemon-shaped</td>
            </tr>
            <tr>
                <td>Body</td>
                <td>Fine-boned but muscular with a barrel chest</td>
            </tr>
            <tr>
                <td>Legs</td>
                <td>Long, slender, and appear bow-legged due</td>
            </tr>
        </table>
        <br />
        <img src="/img/222.jpg" width="200" height="240" />
        <br />
        <br />
        <br />
        <h1>Sphynx Cat Personality</h1>
        <br />
        <table border="1" border="1" class="tab">
            <tr>
                <th>Trait</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Outgoing</td>
                <td>Enjoys interacting with people, outgoing in nature</td>
            </tr>
            <tr>
                <td>Mischievous</td>
                <td>Playful and sometimes naughty, enjoys exploring</td>
            </tr>
            <tr>
                <td>People-oriented</td>
                <td>Forms strong bonds with humans, seeks attention</td>
            </tr>
            <tr>
                <td>Talkative</td>
                <td>Communicates vocally with owners, likes to chat</td>
            </tr>
            <tr>
                <td>Intelligent</td>
                <td>Quick to learn, can be trained to do tricks</td>
            </tr>
            <tr>
                <td>Playful</td>
                <td>Enjoys interactive toys and games, retains kitten-like behavior</td>
            </tr>
            <tr>
                <td>Cuddly</td>
                <td>Enjoys snuggling and being close to owners</td>
            </tr>
            <tr>
                <td>Purrers</td>
                <td>Champion purrers, often purr loudly and frequently</td>
            </tr>
            <tr>
                <td>Sleeping habits</td>
                <td>Like to sleep with their owners, often under the covers</td>
            </tr>
            <tr>
                <td>Body temperature</td>
                <td>Higher than average, requiring extra warmth and comfort</td>
            </tr>
            <tr>
                <td>Appetite</td>
                <td>Voracious appetites to compensate for heat loss</td>
            </tr>
            <tr>
                <td>Sensitivity to cold</td>
                <td>Cannot be left out in the cold, prefers warm environments</td>
            </tr>
            <tr>
                <td>Sun protection</td>
                <td>May need protection from the sun due to pale skin</td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <h1>Sphynx Cat History and Origins</h1>
        <br />
        <table border="1" border="1" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Country of Origin</td>
                <td>Canada</td>
            </tr>
            <tr>
                <td>Other Names</td>
                <td>Canadian Hairless Cat</td>
            </tr>
            <tr>
                <td>Historical Background</td>
                <td>
                    Hairless cats have been known for generations; the Aztecs are said to have kept hairless cats. The
                    Sphynx cat is the first hairless cat breed that has been bred specifically for that trait. The breeding
                    program began in 1966 in Ontario, Canada when a pet cat gave birth to a hairless male kitten. However,
                    most Sphynx cats born today are descended from three hairless kittens found in Toronto in 1978.
                </td>
            </tr>
        </table>
    </body>
</html>
