<!DOCTYPE html>
<html>
    <head>
        <title>Toyger Cat Breed</title>
    </head>
    <body>
        <h1>Toyger Cat Breed</h1>
        <table border="1" cellspacing="0" cellpadding="5" class="tab">
            <tr>
                <th>Aspect</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Medium size, sleek, muscular</td>
            </tr>
            <tr>
                <td>Tail</td>
                <td>Long, thick tail</td>
            </tr>
            <tr>
                <td>Bone Structure</td>
                <td>Substantial bone, should move like a big cat but not be overly heavy or coarse</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>
                    Dense, extremely soft; bold, modified mackerel tabby pattern with thick black stripes that branch and
                    interweave
                </td>
            </tr>
        </table>
        <h1>Toyger Cat Breed - Personality</h1>
        <table border="1" cellspacing="0" cellpadding="5" class="tab">
            <tr>
                <th>Trait</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Sociability</td>
                <td>
                    Exceptionally sociable, getting along well with respectful children, other cats, and dogs; by design, a
                    family-friendly cat; breeders have ensured only cats of excellent temperament have been used in the
                    Toyger creation
                </td>
            </tr>
            <tr>
                <td>Intelligence</td>
                <td>Intelligent and active cat; confident and outgoing</td>
            </tr>
            <tr>
                <td>Communication</td>
                <td>
                    Expressive and vocal, will make their feelings known if they feel lacking in attention or if the food
                    bowl is empty for too long
                </td>
            </tr>
        </table>
    </body>
</html>
