<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Turkish Van Cat Breed</title>
    </head>
    <body>
        <br /><br /><br />
        <h2>Turkish Van Cat Breed</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Large, muscular yet elegant</td>
            </tr>
            <tr>
                <td>Body</td>
                <td>Pure white with distinctive colored head and tail</td>
            </tr>
            <tr>
                <td>Impression</td>
                <td>Graceful yet strong</td>
            </tr>
            <tr>
                <td>Ears</td>
                <td>Set high on the head</td>
            </tr>
            <tr>
                <td>Eyes</td>
                <td>Large, oval, and expressive; may be amber, blue, or one of each</td>
            </tr>
            <tr>
                <td>Coat</td>
                <td>Semi-longhaired, soft, and silky</td>
            </tr>
            <tr>
                <td>Paws</td>
                <td>Tufted</td>
            </tr>
            <tr>
                <td>Tail</td>
                <td>Luxuriant brush</td>
            </tr>
        </table>
        <br />
        <br />
        <table>
            <img src="/img/tk.jpeg" width="200" height="200" />
            <tr>
                <td>Lifespan</td>
                <td>:&nbsp;12 - 17 years</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>:&nbsp;4.5 - 8kg</td>
            </tr>
            <tr>
                <td>Colours</td>
                <td>:&nbsp;Pure white body and distinctive coloured head and tail. .</td>
            </tr>
        </table>
        <br /><br />
        <h2>Turkish Van Cat Personality</h2>
        <br />
        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Personality</td>
                <td>Loyal, loving, intelligent, affectionate, characterful</td>
            </tr>
            <tr>
                <td>Activity</td>
                <td>Very active, enjoys climbing, leaping, and finding high spots to relax</td>
            </tr>
            <tr>
                <td>Playfulness</td>
                <td>Enjoys playful games and activities</td>
            </tr>
            <tr>
                <td>Quirks</td>
                <td>May invite themselves to share a shower or bath</td>
            </tr>
        </table>
        <br /><br />
        <h2>Turkish Van Cat History</h2>
        <br />

        <table border="1" class="tab">
            <tr>
                <th>Characteristic</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Origin</td>
                <td>Lake Van in Turkey</td>
            </tr>
            <tr>
                <td>Notable Trait</td>
                <td>Love of water; will play with and swim in water</td>
            </tr>
            <tr>
                <td>History</td>
                <td>
                    Domesticated in Turkey for hundreds of years; first brought to the UK in the 1950s by a holidaying
                    couple who were attracted to the breed; produced the first litters in the UK; now recognized by the
                    Governing Council of the Cat Fancy (GCCF) and can be shown in the UK
                </td>
            </tr>
        </table>
    </body>
</html>
