<section>
    <br /><br />
    <br /><br />
    <br />

    <br /><br />
    Watching cute and funny cat videos can be a fun and enjoyable experience for your audience, providing a light-hearted
    break from more serious content. You can also use cat videos to educate your audience about various aspects of cat care,
    behavior, training, and health.
    <br />
    <video width="320" height="240" controls>
        <source src="/img/v1.mp4" />
        Your browser does not support the video tag.
    </video>

    <video width="320" height="240" controls>
        <source src="/img/v2.mp4" />
        Your browser does not support the video tag.
    </video>

    <video width="320" height="240" controls>
        <source src="/img/v3.mp4" />
        Your browser does not support the video tag.</video
    ><br />
    <video width="320" height="240" controls>
        <source src="/img/v5.mp4" />
        Your browser does not support the video tag.
    </video>

    <video width="320" height="240" controls>
        <source src="/img/v6.mp4" />
        Your browser does not support the video tag.
    </video>

    <video width="320" height="240" controls>
        <source src="/img/v7.mp4" />
        Your browser does not support the video tag.
    </video>

    <!-- <video width="320" height="240" controls>
        <source src="/img/v8.mp4" />
        Your browser does not support the video tag.
    </video>

    <video width="320" height="240" controls>
        <source src="/img/v9.mp4" />
        Your browser does not support the video tag.
    </video> -->
</section>
