@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --black:#1c1c1c;
    --gray:#7E7E7E;
    --gray-light:#E4E4E4;
    --red:#B30000;
    --font-size-base:1rem;
    --font-size-md:clam(1.25rem ,0.61vw+ 1.1rem,1.58rem);
    --font-size-lg:clamp(1.56rem 1vw+1.31rem ,2.11rem);
    --font-size-xl:clamp(2.44rem,2.38vw +1.85rem ,3.75rem);



}

body{
    width: 100vw !important;
    height: 100vh !important;
    font-family:'Poppins',sans-serif;
    color:var(--black);
    font-size:var(--font-size-base);
    background-color: #ffffff;
    

}

 a {
    color:#0a7bf4;
    
}

a:hover {
    color: #0a7bf4; /* Change color on hover */
}
 h1{font-size:var(--font-size-xl);}
 h2{font-size:var(--font-size-lg);}
 h3{font-size:var(--font-size-md);}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea{
    font-family:'Poppins'sans-serif;
    font-size:var(--font-size-base);
    display:block;
    box-sizing:border-box;
    width:100%;
    padding:0.7rem 0.7rem;
    margin-bottom:1rem;
}

.btn{
    background-color:#1c1c1c;
    border:none;
    color:#f6f0f0;
    padding:16px 32px;
    text-decoration:none;
    margin:4px 2px;
    cursor:pointer;
}

.btn-delete{
    padding:10px 16px;
    height:auto;
}
.img
{
 width:100%;
 height:auto;
}
/*(layout */
.container{
    max-width:982px;
    margin: 0 auto;
    padding:0 10px;
}
/* Hero Section*/
.hero-image{
    max-height:528px;
    filter:drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
    overflow: hidden;
    border-radius:var(--border-radius);
    align-items: center;
}

.header{
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display:grid;
    background-color: rgb(224, 210, 185);
    align-items:center;
    grid-template-columns:1fr 1 fr;
    grid-template-rows:auto; 
    padding-top:1px;
    grid-template-areas:
    "logo button"
    "menu menu";
   
   
}

@media only screen and (min-width: 768px){
    .header{
        grid-template-columns:auto 1fr auto;
        grid-template-areas:
        "logo menu button";
        
    }
    body {
        font-size: var(--font-size-md);
    }
}

.header__logo{
grid-area:logo;
font-weight:000;
font-size:25px;
text-decoration:none;


}
.header__logo:hover{
    text-decoration:underline;
  
}

.header__button{
    grid-area:button;
    display: flex;
    justify-content:end;
}

.header__button button{
    display: flex;
    gap:0.3rem;
    align-items:center;
    border:0;
    padding:6px 12px;
    background:none;
    border-radius:var(--border-redius);
    border:2px solid transparent;
    font-size:var(--font-size-base);
    font-weight:600;
    color:var(--black);
}

.header__button button:hover{
    border:2px solid var(--black);
   

}
.header__nav{
   
    grid-area:none;
    display:flex;
    justify-content:center;
    height: 0px; 
    background-color: #856105;
}
.header__nav ul{
    list-style-type:none;
    display:flex;
    gap:1rem;
    font-weight:600;
    padding:0;
    
}
.header__nav ul a{
    padding:10px;
    text-decoration:none;
    
}
.header__nav ul a hover{
    text-decoration:underline;
    
}

.header__nav ul a.active{
    color:var(--gray);
}
.author{
    padding:10px 0;
    text-align:center;
    background-color: rgb(255, 254, 254);
   
    
}


.author__heading{
    margin-top:10px;
    margin-bottom:5px;
}

.author__body {
    
    font-size: var(--font-size-md);
    text-align: justify; /* Align text justified */
    line-height: 1.5; /* Set line spacing to 1.5 */
    margin-top: 40px; /* Add some top margin for spacing */
}
/* Home Article List */
.article__heading{
    margin-top:4rem;
    font-weight:400;
}
.para{
    text-align: justify;
    color: #0c071e;
    line-height: 2.0; /* Set line spacing to 2.5 */
    
   

}
.heading3{
    bottom: unset;
    color: chartreuse;
}

.article-ul{
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:clamp(1.13rem,calc(1.08rem + 0.22vw),1.25rem);
    display:flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 20px; /* Spacing between columns */
}
.article-list__date{
    font-size:var(--font-size-base);
    color:var(--gray);
    width:260px;
    display:inline-block;
}
.article-ul a {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-decoration:none;
    margin:10px 0;
}

@media only screen and (max-width: 768px) {
    .article-ul li a{
        flex-direction:row;
        align-items:center; 
    }
    .article-list__date{
        text-align:right;
    }
}

.article li {
    font-size:24px;
    cursor:pointer;
    transition:filter 0.1s;
}
.article-ul li:not(:Last-child){
    border-bottom:1px solid var(--gray-light);
}
.article-ul li:hover {
    filter: none; /* Remove blur effect on hover */
}

/* .article-ul:hover li{
    filter:blur(3px);

} */

.article-url:hover li:hover{
    filter:none;
}
.pagination{
    font-size:1.3rem;
    color:var(--gray);
    text-decoration:none;
    margin-top:40px;
    display:inline-block;

}
.pagination:hover{
    color:var(--black);
}
.article{
    white-space:pre-wrap;
}
.footer{
    margin: 4rem;
    text-align:center;
}

.searchBar{
    visibility:hidden;
    transform:translateY(-100px); 
    background-color: var(--black);
    padding:4px 0;
    position:absolute;
    left:0;
    right:0;
}
.searchBar.open{
    transform: translateY(0);
    transition:transform 0.1s;
}
.searchBar input{
    margin:0;
    padding:0;
}
#searchClose{
    position:absolute;
    top:0;
    right:0;
    color:var(--gray-light);
    padding: 15px;
}

  
  
.admin-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.admin-posts{
    padding:0;
    margin:0;
}
.admin-post-controls form
{
    display: inline-block;
}

.admin-post-controls .btn
{
    display:inline-block;
    background-color: var(--black);
    color:var(--gray-light);
    border:0;
    text-decoration:none;
    font-size:.8rem;
    padding:4px 8px;
    line-height:2;
}
.admin-posts li{
    display:flex;
    justify-content:space-between;
    padding:10px 0;
}



/*images*/

.photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media only screen and (max-width: 768px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    padding-bottom: 20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  

  .tab{
    background-color: rgb(225, 231, 235);
    width:975px;
    height: 400px;

  }
  